.main-container {
    position: relative;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color:#f6bc66 ;
    overflow: hidden;
   
}

.main-container::-webkit-scrollbar {
 display: none;
}

